@import url("./vendor/fonts.css");
@import url("../src/blocks/main.css");


body {
  margin: 0;
  font-family: "CircleNormal", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141B1F;
}

.page {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
